<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <%= f.text_field :description %><br>

  <label>Post status</label><br>
  <%= f.text_field :post_status %><br>

  <%= f.submit %>
<% end %>